.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}

.toolbar {
  top: 0;
  left: 0;
  height: 60px;
  display: block;
}

.item > button {
  margin: 5px;
}