<mat-toolbar class="toolbar" color="primary">
  <div class="item left">
    <button (click)="home()" mat-icon-button>
      <mat-icon color="link">home</mat-icon>
    </button>
    <span class="title-text">
      inspireGL
    </span>
  </div>
  <div class="item right" *ngIf="auth.isLoggedIn()">
    <button (click)="newEntry()" mat-raised-button color="accent">New Entry</button>
    <button (click)="logout()" mat-raised-button color="accent">Logout</button>
  </div>
  <div class="item right" *ngIf="!auth.isLoggedIn()">
    <button (click)="signUp()" mat-raised-button color="accent">Sign Up</button>
    <button (click)="login()" mat-raised-button color="accent">Login</button>
  </div>
</mat-toolbar>