<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Username" [formControl]="username" required>
    <mat-error *ngIf="username.invalid">
      <span *ngIf="username.errors.required">
            Username is required.
          </span>
      <span *ngIf="username.errors.minlength">
            Username must be at least 6 characters long.
          </span>
      <span *ngIf="username.errors.maxlength">
            Username must be less than 20 characters long.
          </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">
      <span *ngIf="password.errors.required">
            Password is required.
          </span>
      <span *ngIf="password.errors.minlength">
            Password must be at least 10 characters long.
          </span>
      <span *ngIf="password.errors.maxlength">
            Password must be less than 50 characters long.
          </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Verify Password" [formControl]="passwordVerify" required>
    <mat-error *ngIf="passwordVerify.invalid">
      <span *ngIf="passwordVerify.errors.nomatch">
            Passwords must match.
          </span>
    </mat-error>
  </mat-form-field>
</div>